@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>BePact</h1>
    <p class="lead">Bedrijven, personen en activiteiten op maat gemaakt voor <strong>IMD</strong>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Activiteiten</h2>
        <p>
            Per activiteit kan je een overzicht zien van de verschillende bedrijven die deze aanbieden.
        </p>
        <p>Tevens kan je hier per bedrijf ook zien welke personen deze activiteit aanbieden.</p>
        <p><a class="btn btn-danger" href="/Activiteiten">Activiteiten &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bedrijven</h2>
        <p>Per bedrijf kan je een overzicht zien van personen die de opleiding activiteiten aanbieden.</p>
        <p>Tevens kan je zien welke activiteiten het bedrijf nu juist aanbiedt.</p>
        <p><a class="btn btn-success" href="/Bedrijven">Bedrijven &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Personen</h2>
        <p>Per persoon kan je een overzicht zien van de verschillende activiteiten die deze aanbiedt.</p>
        <p>Tevens kan je zien welk bedrijf deze persoon vertegenwoordigt.</p>
        </p>
        <p><a class="btn btn-info" href="/Personen">Personen &raquo;</a></p>
    </div>
</div>